<br>
<div class="row">
  <div class="col-md-4">
    <button (click)="adicionar(modalTemplate, 'Adicionar Professor')">Novo</button>
  </div>
</div>
<br>
  
  <ng-template #modalTemplate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{titulo}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="form" novalidate>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <label>Nome: <span *ngIf="!form.get('nome').valid">*</span></label>
            <input type="text" class="form-control" class="form-control" name="nome" value="{{obj.nome}}"
              [(ngModel)]="obj.nome" id="nome" formControlName="nome" required
              maxlength="50">
  
            <small class="form-text text-muted danger"
              *ngIf="!form.get('nome').valid && (form.get('nome').dirty || form.get('nome').touched)">
              Campo obrigatório.
            </small>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
              <label>Data Nascimento: <span *ngIf="!form.get('dataNascimento').valid">*</span></label>
              <input type="date" class="form-control" class="form-control" name="dataNascimento" value="{{obj.dataNascimento}}"
                [(ngModel)]="obj.dataNascimento" id="dataNascimento" formControlName="dataNascimento" required>
    
              <small class="form-text text-muted danger"
                *ngIf="!form.get('dataNascimento').valid && (form.get('dataNascimento').dirty || form.get('dataNascimento').touched)">
                Campo obrigatório.
              </small>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <label>Salário: <span *ngIf="!form.get('salario').valid">*</span></label>
                <input type="text" class="form-control" class="form-control" name="salario" value="{{obj.salario}}"
                  [(ngModel)]="obj.salario" id="salario" formControlName="salario" required
                  maxlength="50">
      
                <small class="form-text text-muted danger"
                  *ngIf="!form.get('salario').valid && (form.get('salario').dirty || form.get('salario').touched)">
                  Campo obrigatório.
                </small>
              </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-skin" (click)="confirmar();">Confirmar </button>
    </div>
  </ng-template>
  
  <swal #sucessoSwal title="Sucesso" text="Operação realizada com sucesso!" type="success"
      (confirm)="carregarPagina()">
  </swal>
  
  <table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Data Nascimento</th>
            <th scope="col">Salario</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of listagem | async">
            <td>{{item.id}}</td>
            <td>{{item.nome}}</td>
            <td>{{item.dataNascimento | date:'dd/MM/yyyy' }}</td>
            <td>{{item.salario}}</td>
            <td>
              <button (click)="atualizar(item, modalTemplate, 'Editar Professor')">editar</button>
            </td>
        </tr>
    </tbody>
  </table>
  
  